.dragon-ball-movies-container,
.anime-section-container {
  margin: 0 40px;
}

.dragon-ball-movies-heading-div,
.section-heading-div {
  margin-top: 45px;
  font-family: Lato;
}

.dragon-ball-movies-main-heading,
.section-main-heading {
  margin-bottom: 10px;
}

.blue-divider {
  height: 4px;
  background-image: linear-gradient(to right, rgb(0, 170, 192), rgb(0, 78, 88));
  margin: 15px 0;
}

.orange-divider {
  height: 4px;
  background-image: linear-gradient(to right, rgb(231, 54, 0), rgb(255, 187, 0));
  margin: 15px 0;
}

.dragon-ball-episode-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media (min-width: 1200px) {
  .dragon-ball-episode-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.anime-episode-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (min-width: 981px) {
  .anime-episode-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.thumbnail-container {
  position: relative;
}

.thumbnail {
  width: 100%;
}

.anime-genre {
  font-size: 10px;
  font-weight: 700;
  color: rgb(160, 160, 160);
  margin: 8px 0;
}

.anime-name {
  font-weight: 700;
  margin-bottom: 14px;
}

.anime-episode-grid .anime-name {
  margin: 8px 0;
  font-size: 14px;
}

.sub-dub {
  font-size: 14px;
  color: rgb(160, 160, 160);
}

.episode-container {
  position: relative;
}

.episode-container-bottom-row {
  display: flex;
  justify-content: space-between;
}

.comment-icon {
  height: 14px;
  margin-top: 3px;
}